<section class="section header-nav">
    <div class="header-container">
        <nav class="nav-container">
        <div class="nav-left">
            <a class="nav-item" href="{{ i18n "rootURL"}}">
            {{ with .Site.Params.authorimage }} 
            <img src="/img/{{ . }}" alt="Author Image" class="img-circle header-avatar">
            {{ end }}
            <h1 class="title is-4">{{ i18n "me" }}</h1>
            </a>
        </div>
        <div class="nav-right">
            <nav class="nav-item level is-mobile">
            {{ with .Site.Params.social.github }}
            <a href="https://github.com/{{.}}" class="level-item" aria-label="Github" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
            {{ end }}

            {{ with .Site.Params.social.email }}
            <a href="mailto:{{.}}" class="level-item" aria-label="Email" target="_blank"><i class="fas fa-envelope" aria-hidden="true"></i></a>
            {{ end }}

            {{ range $index, $element := .Translations }}
            {{if $index}} | {{end}}
            <a class="level-item i18n-switch" href="{{ $element.Permalink }}">{{ $element.Language.LanguageName }}</a>
            {{ end }}
            
            </nav>
        </div>
        </nav>
    </div>
</section>