@-ms-viewport
{
    width: device-width;
}
@-o-viewport
{
    width: device-width;
}
@viewport
{
    width: device-width;
}
a,
a:hover,
a:visited,
a:link
{
    text-decoration: none;

    color: #526d7a;
}
body
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;

    width: auto;
    height: 100%;
    min-height: 100%;
    margin: 0;

    background-color: white;
}
html
{
    position: relative;

    height: 100%;
    min-height: 100%;
    margin: 0;
}
.author
{
    color: #444;
}
.author h1,
.author h2,
.author h3,
.author h4,
.author h5,
.author h6,
.author p
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
}
.category
{
    color: #966 !important;
}
.container
{
    overflow: auto;

    max-width: 900px;
    padding: 0 15px;
}
.content
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.hljs
{
    padding: 1em;
}
div.content
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;

    color: #777;
}
div.content img
{
    max-width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    vertical-align: baseline;
    border: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
div.content blockquote
{
    font-size: 16px;
}
pre
{
    padding: 0;
}
div.content p
{
    margin-bottom: 16px;
    margin-top: 16px;
}
div.content a
{
    color: #337ab7;
}
div.content h1
{
    margin-bottom: 24px;
    margin-top: 32px;
}
div.content h2,
div.content h3
{
    margin-bottom: 16px;
    margin-top: 16px;
}
.header-avatar
{
    height: 56px;
    width: 56px;
    margin-right: 20px;
}
.nav-item h1
{
    margin: 0;
    padding: 0;
    font-size: 28px;
}

.header-container
{
    max-width: 900px;
    margin: 0;
    vertical-align: baseline;
}
.nav-container
{
    display: flex;
    min-height: 50px;
    position: relative;
    align-items: stretch;
    text-align: center;
}
.header-nav
{
    padding-top: 40px;
    padding-bottom: 30px;
}
.nav-left
{
    display: flex;
    flex-basis: 0;
    white-space: nowrap;
    flex-grow: 1;
}
.nav-right
{
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-end;
}
.level-item
{
    margin-left: 15px;
    flex-grow: 1;
}
.nav-item
{
    align-items: center;
    padding-left: 0;
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.copyright
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 200;
}
.description
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-weight: 330;
    line-height: 1.5;
    color: #8b8b8b;
}
.error
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;

    margin-top: 100px;
}
.error h1
{
    font-size: 80px;

    color: #8b8b8b;
}
.error p
{
    margin-top: 150px;

    color: #777;
}
.excerpt
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 200;

    color: #555;
    margin-bottom: 20px;
}
.footer
{
    margin-top: 10px;

    color: #8b8b8b;
}
.header
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.headshot
{
    width: 200px;
    height: 200px;
}
.info
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.intro
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-weight: 200;
    color: #777;
}
h3.intro
{
    margin-top: 0px
}
.list
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;

    margin-top: 50px;
}
.list li
{
    list-style: none;
}
.list-entry
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;

    margin-top: 10px;
    margin-bottom: 20px;
}
.list-entry-link
{
    padding: 0;
}
.main-menu
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu-item
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 300;

    text-decoration: none;

    color: #966 !important;
}
.i18n-switch
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 250;
}
.meta
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 320;

    color: #8b8b8b;
}
a.meta
{
    color: #966;
}
h6.meta
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 320;

    color: #8b8b8b;
}
.powered
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 300;
}
.social {
    margin-top: 10px;
    margin-bottom: 20px;
}
.social,
.social a
{
    font-size: 28px;
    color: #526d7a;
}
.title
{
    font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;
    font-weight: 400;

    color: #555;
}
header.title
{
    margin-top: 20px;
    padding: 0 15px;
}
@media (max-width: 991px)
{
    .header
    {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .list
    {
        font-family: 'Helvetica', 'Roboto', 'Microsoft YaHei', '黑体', 'Lato', sans-serif;

        margin-top: 30px;
    }
}
pre > code {
    white-space: pre;
    word-wrap: initial;
    word-break: initial;
}

table {
    background-color: white;
    color: #777;
    margin: 2rem auto;
    width: 100%;
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px solid rgb(219, 219, 219);
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: center;
  }
  table td.is-narrow, table th.is-narrow {
    white-space: nowrap;
    width: 1%;
  }
  table th {
    color: rgb(54, 54, 54);
  }
  table tr:hover {
    background-color: rgb(250, 250, 250);
  }
  table thead td, table thead th {
    border-width: 0 0 2px;
    color: rgb(121, 121, 121);
  }
  table tfoot td, table tfoot th {
    border-width: 2px 0 0;
    color: rgb(121, 121, 121);
  }
  table tbody tr:last-child td, table tbody tr:last-child th {
    border-bottom-width: 0;
  }
  table.is-bordered td, table.is-bordered th {
    border-width: 1px;
  }
  table.is-bordered tr:last-child td, table.is-bordered tr:last-child th {
    border-bottom-width: 1px;
  }
  table.is-narrow td, table.is-narrow th {
    padding: 0.25em 0.5em;
  }
  table.is-centered td, table.is-centered th, table.is-centered tr {
    text-align: center;
  }
  table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: rgb(250, 250, 250);
  }
  table.is-striped tbody tr:not(.is-selected):nth-child(even):hover {
    background-color: rgb(244, 243, 241);
  }
